<?xml version="1.0"?>

<robot name="wangbx_robot_sim" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="wangbx_robot_sim">
          <!--gazebo reference="wheel_left_link">
            <mu1>1.0</mu1>
            <mu2>1.0</mu2>
            <kp>1000000.0</kp>
            <kd>100.0</kd>
            <minDepth>0.001</minDepth>
            <maxVel>1.0</maxVel>
          </gazebo>

          <gazebo reference="wheel_right_link">
            <mu1>1.0</mu1>
            <mu2>1.0</mu2>
            <kp>1000000.0</kp>
            <kd>100.0</kd>
            <minDepth>0.001</minDepth>
            <maxVel>1.0</maxVel>
          </gazebo>

          <gazebo reference="base_link">
            <mu1>0.3</mu1>
            <mu2>0.3</mu2>
            <sensor type="contact" name="bumpers">
              <always_on>1</always_on>
              <update_rate>50.0</update_rate>
              <visualize>true</visualize>
              <contact>
                <collision>base_footprint_fixed_joint_lump_base_collision</collision>
              </contact>
            </sensor>
          </gazebo-->

          <!--gazebo reference="caster_back_link">
	    <mu1>0.0</mu1>
	    <mu2>0.0</mu2>
	    <kp>1000000.0</kp>
	    <kd>100.0</kd>
	    <minDepth>0.001</minDepth>
	    <maxVel>1.0</maxVel>
	  </gazebo>

	  <gazebo reference="base_link">
	    <mu1>0.3</mu1>
	    <mu2>0.3</mu2>
	    <sensor type="contact" name="bumpers">
	      <always_on>1</always_on>
	      <update_rate>50.0</update_rate>
	      <visualize>true</visualize>
	      <contact>
	        <collision>base_footprint_fixed_joint_lump__base_collision</collision>
	      </contact>
	    </sensor>
	  </gazebo>

	  <gazebo reference="cliff_sensor_left_link">
	    <sensor type="ray" name="cliff_sensor_left">
	      <always_on>true</always_on>
	      <update_rate>50</update_rate>
	      <visualize>true</visualize>
	      <ray>
	        <scan>
	          <horizontal>
	            <samples>50</samples>
	            <resolution>1.0</resolution>
	            <min_angle>-0.0436</min_angle> 
	            <max_angle>0.0436</max_angle> 
	          </horizontal>
	        </scan>
	        <range>
	          <min>0.01</min>
	          <max>0.15</max>
	          <resolution>1.0</resolution>
	        </range>
	      </ray>
	    </sensor>
	  </gazebo>

	  <gazebo reference="cliff_sensor_right_link">
	    <sensor type="ray" name="cliff_sensor_right">
	      <always_on>true</always_on>
	      <update_rate>50</update_rate>
	      <visualize>true</visualize>
	      <ray>
	        <scan>
	          <horizontal>
	            <samples>50</samples>
	            <resolution>1.0</resolution>
	            <min_angle>-0.0436</min_angle> 
	            <max_angle>0.0436</max_angle>
	          </horizontal>
	        </scan>
	        <range>
	          <min>0.01</min>
	          <max>0.15</max>
	          <resolution>1.0</resolution>
	        </range>
	      </ray>
	    </sensor>
	  </gazebo>

	  <gazebo reference="cliff_sensor_front_link">
	    <sensor type="ray" name="cliff_sensor_front">
	      <always_on>true</always_on>
	      <update_rate>50</update_rate>
	      <visualize>true</visualize>
	      <ray>
	        <scan>
	          <horizontal>
	            <samples>50</samples>
	            <resolution>1.0</resolution>
	            <min_angle>-0.0436</min_angle>  
	            <max_angle>0.0436</max_angle> 
	          </horizontal>
	        </scan>
	        <range>
	          <min>0.01</min>
	          <max>0.15</max>
	          <resolution>1.0</resolution>
	        </range>
	      </ray>
	    </sensor>
	  </gazebo>

	  <gazebo reference="gyro_link">
	    <sensor type="imu" name="imu">
              <always_on>true</always_on>
              <update_rate>50</update_rate>
              <visualize>false</visualize>
              <imu>
                <noise>
                <type>gaussian</type>
	          <rate>
	            <mean>0.0</mean>
	            <stddev>${0.0014*0.0014}</stddev> 
	            <bias_mean>0.0</bias_mean>
	            <bias_stddev>0.0</bias_stddev>
	          </rate>
		  <accel> 
		    <mean>0.0</mean>
		    <stddev>1.7e-2</stddev>
		    <bias_mean>0.1</bias_mean>
		    <bias_stddev>0.001</bias_stddev>
		  </accel>
                </noise>
	      </imu>
            </sensor>
          </gazebo-->

<!-- 	  <gazebo reference="laser_link">
            <sensor name= "laser" type="ray">
              <pose>0 0 0 0 0 0</pose>
              <visualize>false</visualize>
              <update_rate>10</update_rate>
              <ray>
                <scan>
                  <horizontal>
                    <samples>360</samples>
                    <resolution>1</resolution>
                    <min_angle>-3.14</min_angle>
                    <max_angle>3.14</max_angle>
                  </horizontal>
                </scan>
                <range>
                  <min>0.03</min>
                  <max>30.0</max>
                  <resolution>0.01</resolution>
                </range>
              </ray>
              <plugin name="laser" filename="libgazebo_ros_block_laser.so">
                <topicName>/scan</topicName>
                <frameName>/laser_link</frameName>
              </plugin>
            </sensor>
          </gazebo>-->

          <gazebo reference="laser_link">
            <sensor name="laser" type="ray">
              <visualize>false</visualize>
              <pose>0.0 0.0 0.0 0.0 0.0 0.0</pose>
              <ray>
                <scan>
                  <horizontal>
                    <samples>500</samples>
                    <min_angle>0</min_angle>
                    <max_angle>6.24</max_angle>
                  </horizontal>
                  <vertical>
                    <samples>16</samples>
                    <min_angle>-0.2617993878</min_angle>
                    <max_angle>0.2617993878</max_angle>
                  </vertical>
                </scan>
                <range>
                  <min>0.05</min>
                  <max>150.0</max>
                </range>
              </ray>
              <plugin name="plugin_1" filename="libgazebo_ros_block_laser.so">
                <gaussianNoise>0.00</gaussianNoise>
                <hokuyoMinIntensity>1</hokuyoMinIntensity>
                <alwaysOn>true</alwaysOn>
                <updateRate>10</updateRate>
                <topicName>lslidar_point_cloud</topicName>
                <frameName>laser_link</frameName>
              </plugin>
            </sensor>
          </gazebo>

          <gazebo>
            <plugin name="wangbx_robot_controller" filename="libgazebo_ros_diff_drive.so">
              <leftJoint>wheel_left_joint</leftJoint>
              <rightJoint>wheel_right_joint</rightJoint>
              <wheel_separation>.230</wheel_separation>
	      <wheel_diameter>0.070</wheel_diameter>
              <publishWheelJointState>true</publishWheelJointState>
	      <legacyMode>false</legacyMode>
              <bumper_name>bumpers</bumper_name>
              <imu_name>imu</imu_name>
              <commandTopic>/cmd_vel</commandTopic>
              <odometryTopic>/odom</odometryTopic>
            </plugin>
          </gazebo>

  </xacro:macro>
</robot>
