<launch>
  <node name="turtlebot_teleop_keyboard" pkg="wangbx_robot_qt_teleop" type="wangbx_qt_teleop"  output="screen" >
    <param name="line_min" value="0.05"/>
    <param name="line_max" value="2.0"/>
    <param name="rot_min" value="1.57"/>
    <param name="rot_max" value="6.28"/>
    <param name="line_gain" value="0.1"/>
    <param name="rot_gain" value="0.1"/>
  </node>
</launch>
